{% extends 'admin.html.twig' %}

{% block content %}

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div
			class="container-full">
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
									<i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">
										Client Total
									</p>
									<h3 class="text-dark mb-0 font-weight-500">
										{{ totalClient }}
										<small class="text-success">
											<i class="fa fa-caret-up"></i>
											100%</small>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div class="icon bg-warning-light rounded w-60 h-60 mx-auto">
									<i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">Nombres de client ce mois</p>
									<h3 class="text-dark mb-0 font-weight-500">
										{{ RecentClient }}
										<small class="text-success">
											<i class="fa fa-caret-up"></i>
											+{{ pourClient}}%</small>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div class="icon bg-warning-light rounded w-60 h-60 mx-auto">
									<i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">
										Stats sales this Month
									</p>
									<h3 class="text-dark mb-0 font-weight-500">
										14550 $
										<small class="text-info">
											<i class="fa fa-caret-down"></i>
										</small>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div
									class="icon bg-danger-light rounded w-60 h-60 mx-auto">
									{# <i class="text-danger mr-0 font-size-24 mdi mdi-phone-incoming"></i> #}
									<img src="{{ asset('assets/icons/commander.png') }}" style="padding: 15px"/>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">
										Commandes annulées ce mois
									</p>
									<h4 class="text-dark mb-0 font-weight-500">
										{{	cmdAnnuler }}
										<small class="text-danger">
											<i class="fa fa-caret-up"></i>
										</small>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div
									class="icon bg-success-light rounded w-60 h-60 mx-auto">
									{# <i class="text-success mr-0 font-size-24 mdi mdi-order-outgoing"></i> #}
									<img src="{{ asset('assets/icons/verifier.png') }}" style="padding: 15px"/>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">
										Commandes traitées Ce mois
									</p>
									<h3 class="text-dark mb-0 font-weight-500">
										{{ cmdTraiter }}
										<small class="text-success">
											<i class="fa fa-caret-up"></i>
										</small>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-6">
						<div class="box overflow-hidden pull-up hov-rs">
							<div class="box-body text-center">
								<div class="icon bg-secondary-light rounded w-60 h-60 mx-auto">
									<i class="text-secondary mr-0 font-size-24 mdi mdi-chart-line"></i>
								</div>
								<div>
									<p class="text-mute mt-20 mb-0 font-size-16">
										Revenu Total du Mois
									</p>
									<h6 class="text-dark mb-0 font-weight-500">
										{{ revenu }}
										DHS

									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-12">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="box overflow-hidden">
									<div class="box-body pb-0">
										<div>
											<h2 class="text-dark mb-0 font-weight-500">{{ totalClient }}</h2>
											<p class="text-mute mb-0 font-size-20">Le TOTAL DE CLIENT</p>
										</div>
									</div>
									<div class="box-body p-0">
										<div id="revenue1"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="box overflow-hidden">
									<div class="box-body pb-0">
										<div>
											<h2 class="text-dark mb-0 font-weight-500">{{ produits | length }}</h2>
											<p class="text-mute mb-0 font-size-20">
												Le TOTAL DES PRODUITS
											</p>
										</div>
									</div>
									<div class="box-body p-0">
										<div id="revenue2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-12">
						<div class="box bg-info bg-img" style="background-image: url(../images/gallery/bg-1.png)">
							<div class="box-body text-center">
								<img src="../images/trophy.png" class="mt-50" alt=""/>
								<div class="max-w-500 mx-auto">
									<h2 class="text-white mb-20 font-weight-500">
										Le Meilleur Employé
										{{ bestWorker[0].nom }}
										{{ bestWorker[0].prenom }},
									</h2>
									<p class="text-white-50 mb-10 font-size-20">
										D'après nos statistique
										{{ bestWorker[0].nom }}
										est L'employé ayant rapporté le plus de ventes pour le site, grâce à ces produits très demandés qu'il ajoute
									</p>
								</div>
							</div>
						</div>

					</div>
					{# <div class="col-xxxl-5 col-xl-6 col-12">
																<div class="box overflow-hidden">
																	<div class="box-body p-0">
																		<div class="row no-gutters">
																			<div class="col-md-6 col-12">
																				<div class="box no-shadow mb-0 rounded-0">
																					<div class="box-header no-border">
																						<h4 class="box-title mb-0">Last Posts</h4>
																					</div>
																					<div class="box-body p-0">
																						<div class="media-list media-list-hover">
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>
																										Meet Craftwork. Thoroghly Handpicked UI
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                                    Freebies
																									</h5>
																								</div>
																							</a>
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>Cook Design Right!</h5>
																								</div>
																							</a>
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>5 Reasons to Start Own Bussines</h5>
																								</div>
																							</a>
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>How to Make Interface</h5>
																								</div>
																							</a>
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>Show Me Your Design</h5>
																								</div>
																							</a>
																							<a class="media media-single hover-white" href="#">
																								<div class="media-body">
																									<h5>
																										She gave my mother such a turn, that I have
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                                    always bee...
																									</h5>
																								</div>
																							</a>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-6 col-12">
																				<div class="box no-shadow mb-0 bg-img rounded-0" data-overlay="5" style="
																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            background-image: url(../images/gallery/landscape7.jpg);
																																																																																																																																																																																																																																																																																																																																																																																																																																																										                          ">
																					<div class="box-header no-border">
																						<h4 class="box-title mb-0">
																							<span class="avatar avatar-lg bg-success">DK</span>
																						</h4>
																						<ul class="box-controls">
																							<li>
																								<a href="javascript:void(0)">
																									<i class="ti-reload text-white"></i>
																								</a>
																							</li>
																						</ul>
																					</div>
																					<div class="box-body">
																						<div class="text-right mt-100 pt-20">
																							<h3 class="text-white">
																								<small class="mr-10">
																									<i class="fa fa-commenting"></i>
																								</small>
																								3
																							</h3>
																							<h2 class="text-white">
																								<small class="mr-10">
																									<i class="fa fa-heart"></i>
																								</small>
																								23
																							</h2>
																							<h1 class="text-white">
																								<small class="mr-10">
																									<i class="fa fa-eye"></i>
																								</small>
																								189
																							</h1>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xxxl-7 col-xl-6 col-12">
																<div class="box">
																	<div class="box-header">
																		<h4 class="box-title">Recent Stats</h4>
																	</div>
																	<div class="box-body">
																		<div id="recent_trend"></div>
																	</div>
																</div>
															</div> #}
					<div class="col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title align-items-start flex-column">
									Vérifiez L'Etat des Produits disponible dans le site
									<small class="subtitle"></small>
								</h4>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table class="table no-border">
										<thead>
											<tr class="text-uppercase bg-lightest">
												<th style="min-width: 250px">
													<span class="text-dark">produit</span>
												</th>
												<th style="min-width: 100px">
													<span class="text-dark">prix</span>
												</th>
												<th style="min-width: 100px">
													<span class="text-dark">Stock</span>
												</th>
												<th style="min-width: 150px">
													<span class="text-dark">agent</span>
												</th>
												<th style="min-width: 130px">
													<span class="text-dark">status</span>
												</th>
												<th style="min-width: 120px"></th>
											</tr>
										</thead>
										<tbody>
											{% for produit in produits %}
												{% if produit.getQteStock() <= 10 %}
													<tr>
														<td class="pl-0 py-8">
															<div class="d-flex align-items-center">
																<div class="flex-shrink-0 mr-20">
																	<div class="bg-img h-50 w-50" style="
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                                      background-image: url('{{ asset('uploads/produits/' ~ produit.getImageProduit() ) }}');
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                                    "></div>
																</div>

																<div>
																	<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">{{ produit.designation }}</a>
																	<span class="text-mute d-block"></span>
																</div>
															</div>
														</td>
														<td>
															<span class="text-mute font-weight-500 d-block font-size-16">
																Prix
															</span>
															<span class="text-dark">
																{{ produit.getAncienPrix() }}Dhs
															</span>
														</td>
														<td>
															<span class="text-mute font-weight-500 d-block font-size-16"></span>
															<span class="text-dark">
																{{ produit.getQteStock() }}
															</span>
														</td>
														<td>
															<span class="text-mute font-weight-500 d-block font-size-16">
																{{ produit.user.nom }}
															</span>
															<span class="text-dark">
																{{ produit.user.prenom }}
															</span>
														</td>
														<td>

															{% if produit.getQteStock() > 5 %}
																<span class="badge badge-warning-light badge-lg">
																	Vérifiez L'etat de Ce Produit
																</span>
															{% elseif produit.getQteStock() > 1 and produit.getQteStock() <= 5 %}
																<span class="badge badge-danger-light badge-lg">
																	Ce Produits est Vers sa fin !!
																</span>
															{% else %}
																<span class="badge badge-danger-light badge-lg">
																	Plus de Stocks !!
																</span>
															{% endif %}
														</td>
														<td class="text-right">
															<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-md btn-primary">
																<i class="fa fa-eye"></i>
															</a>
															{# <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-md btn-warning">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                          <i class="fa fa-edit"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										         	               		</a> #}
														</td>
													</tr>

												{% endif %}
											{% else %}
												<tr>
													<td>TOUS LES PRODUITS SONT EN BON ETATS</td>
													<td></td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
	</div>

{% endblock %}
