{% extends 'admin.html.twig' %}
{% block stylesheets %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{# {% block title %}Produit index{% endblock %} #}
{% block
content %}

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div
			class="container-full">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="page-title">Detail Image</h3>
						<div class="d-inline-block align-items-center">
							
								<ol class="breadcrumb">
									<li>
									<a
										  href="{{
											path('app_image_index_variable', { id: image.produit.id })
										  }}"
										  class="btn btn-primary btn-md"
										  >Liste des Images</a
										>
									  </li>
								</ol>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Main content -->
			<section class="content">
				<div class="row">


					<div class="col-12">

						<div class="box">
						
							<!-- /.box-header -->
							<div class="box-body">
								<div class="table-responsive">
									<table id="example5" class="table table-bordered table-striped" style="width:100%">
										<thead>
											<tr>
												<th col-1>ID</th>
												<th>image</th>
												<th>produit</th>
												<th>variation</th>
												<th class="col-3">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="col-1">{{ image.id }}</td>
												<td><img src={{ asset('uploads/others/' ~ image.url ) }} width="80" height="70"></td>
												<td>{{ image.produit.designation }}</td>
												<td>{{ image.variation.nom }}</td>
												{% if image.produit.user.id == app.user.id %}
													<td>
														<a href="{{ path('app_image_edit', {'id': image.id}) }}" class="btn btn-md btn-warning mb-5">
															<i class="fa fa-edit"></i>
														</a>
														{{ include('image/_delete_form.html.twig') }}
													</td>
												{% else %}
													<td></td>
												{% endif %}
											</tr>
										</tbody>
										
									</table>
								</div>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->

		</div>
	</div>
</div>
<!-- /.content-wrapper -->{% endblock %}
