{% extends 'admin.html.twig' %} {% block stylesheets %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock %} {# {% block title %}Produit index{% endblock %} #} {% block
content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<div id="message">
			{% for message in app.flashes('success') %}
			<div class="alert alert-success">
			  {{ message }}
			</div>
			{% endfor %} {% for message in app.flashes('suppression') %}
			<div class="alert btn-danger">
			  {{ message }}
			</div>
			{% endfor %}
		  </div>
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Liste Produits</h3>
					<div class="d-inline-block align-items-center">
					  <ol class="breadcrumb">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle btn-primary" data-toggle="dropdown" href="#" >
							  <span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Ajouter Un produit</span>
							</a>
							<div class="dropdown-menu"> <a class="dropdown-item" id="dropdown1-tab"   href="{{ path('app_produit_new') }}" > Produit stable</a> <a class="dropdown-item" id="dropdown2-tab" href="{{ path('app_produit_new_variable') }}" >Produit Variable
							 </a> </div>
						  </li>
					  </ol>
					</div>
				  </div>
				  <div>
					<a
					   href="{{ path('app_produit_corbeille') }}" 
					  style="font-size: 20px; color: blue"
					  >Corbeille
					  <i class="fa-solid fa-trash" style="font-size: 25px"></i>
					</a>
				  </div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			  

			<div class="col-12">

			 <div class="box">
		
				<!-- /.box-header -->
				<div class="box-body">
					<form action="{{ path('app_produit_delete_group') }}" method="POST">
					<div class="table-responsive">
					
					  <table id="example5" class="table table-bordered table-striped" style="width:100%">
						<thead>
							<tr>
								<th></th>
								<th class="col-1">Désignation</th>
								<th class="col-4">Description</th>
								<th class="col-1">Ancien Prix</th>
								<th class="col-1">Image Produit</th>
								<th class="col-1">Quantié en Stock</th>
								<th class="col-1">Type de Produit</th>
								<th class="col-3">Action</th>
							</tr>
						</thead>
						<tbody>
							 {% for produit in produits %}
							<tr>
								<td>
									<div>
									  <input
										type="checkbox"
										id="{{ produit.id }}"
										name="check{{ produit.id }}"
									  />
									  <label for="{{ produit.id }}"></label>
									</div>
								</td>
               					<td class="col-1">{{ produit.designation }}</td>
                				<td>{{ produit.getDescriptionDetaille()}}</td>
                				<td>{{ produit.ancienPrix }}Dhs</td>
                				{# <td>{{ produit.nouveauPrix }}Dhs</td> #}
                				<td><img src= {{ asset('uploads/produits/' ~ produit.imageProduit ) }} width="80" height="70"></td>
                				<td>{{ produit.qteStock }}</td>
								<td>{{ produit.type }}</td>

								{% if produit.user.id == app.user.id or "ROLE_SUPER_ADMIN" in app.user.Roles %}
                				<td>
									<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-md btn-primary">
                          				<i class="fa fa-eye"></i>
                        			</a>
								{% if produit.getType()=="stable" %}
                        			<a data-tooltip="tooltip"
									data-placement="top"
									title="Quick View"
									data-toggle="modal"
									data-target="#products"  
									id="edit{{ produit.id }}"
									class="btn btn-md btn-warning edit">
		                          <i class="fa fa-edit"></i>
         	               		</a>
								{% else %}
								<a href="{{ path('app_produit_edit_variable', {'id': produit.id}) }}" class="btn btn-md btn-warning">
									<i class="fa fa-edit"></i>
									  </a>
								{% endif %}
            	            	<a
								onclick="return confirm('vous voulez  le supprimer vraiment ??');"
								href="{{ path('app_produit_delete_get', {'id': produit.id}) }}" class="btn btn-md btn-danger">
                	          	<i class="fa fa-trash"></i>
                    	    	</a>
							</td>
							{% else %}
								<td></td>
							{% endif %}
							</tr>
							{% else %}
            				<tr>
                				<td colspan="9">no records found</td>
            				</tr>
        				{% endfor %}
						</tbody>
						<tfoot>
							<tr>
							      <th></th>
								<th>Désignation</th>
								<th>Description</th>
								<th>Prix Old</th>
								<th>New Prix</th> 
								<th>Qte en Stock</th>
								<th>type</th>
								<th ></th>
							</tr>
						</tfoot>
					</table>
					</div>
					<div class="row">
						<div class="col-5"></div>
						<div class="col-7">
						  <button class="btn" onclick="return confirm('vous voulez  les supprimer vraiment ??');">
							<strong>supprimer</strong
							><i style="color: red" class="fa fa-trash"></i>
						  </button>
						</div>
					  </div>

					</form>

				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->      
			</div>  
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
</div>
<!-- /.content-wrapper -->

{% endblock %} {% block javascript %}
<script src="{{
    asset('assets/vendor_components/datatable/datatables.min.js')
  }}"></script>
<script src="{{ asset('main/js/pages/data-table.js') }}"></script>

<script src="{{ asset('main/js/produit/edit_produit_stable_index.js') }}"></script>

{% endblock %}
