{% extends 'base.html.twig' %}

{% block title %}Reduction{% endblock %}

{% block body %}
    <h1>Reduction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reduction.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ reduction.designation }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ reduction.pourcentage }}</td>
            </tr>
            <tr>
                <th>Periode</th>
                <td>{{ reduction.periode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reduction_index') }}">back to list</a>

    <a href="{{ path('app_reduction_edit', {'id': reduction.id}) }}">edit</a>

    {{ include('reduction/_delete_form.html.twig') }}
{% endblock %}
