{% extends 'frontend/index.html.twig' %} {% block content %} {% block style %}
<link rel="stylesheet" href=" {{ asset('FrontOffice/other/slide.css') }} " />
{% endblock %}

<!-- Carousel Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
  <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {#
      <div class="carousel-item active">
        {#
        <video class="d-block w-100 h-55" autoplay muted loop>
          <source
            src=" {{ asset('FrontOffice/video/slide.mp4') }} "
            type="video/mp4"
          />
        </video>
        #} {#
        <img
          class="d-block"
          src=" {{ asset('images/other/PC.png') }} "
          alt="First slide"
        />

        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h5 class="display-2 text-light mb-5 animated slideInDown"></h5>
                {#
                <img
                  class="d-block"
                  src=" {{ asset('images/other/PC.png') }} "
                  alt="First slide"
                />
                {#
                <a href="" class="btn btn-warning btn-sm py-sm-2 px-sm-3"
                  >Ajouter au Panier</a
                >
                <a href="#" class="default-btn py-sm-2 px-sm-3 ms-3"
                  >Voir Plus</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      #}
      <video class="d-block w-100 h-55" autoplay muted loop>
        <source
          src=" {{ asset('FrontOffice/video/slide.mp4') }} "
          type="video/mp4"
        />
      </video>
      {% set val = 0 %} {% for sous_categorie in sous_categories %} {% if val ==
      0 %}
      <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
          {% endif %} {% set val = 1 %}
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <h5
                    class="display-2 text-light mb-5 animated slideInDown"
                    style="color: red"
                  >
                    {{ sous_categorie.titre }}
                  </h5>
                  {#
                  <a href="" class="btn btn-warning btn-sm py-sm-2 px-sm-3"
                    >Ajouter au Panier</a
                  >
                  #}
                  <a
                    href="{{
                      path('app_prod_sous_cat', { id: sous_categorie.id })
                    }}"
                    class="default-btn py-sm-2 px-sm-3 ms-3"
                    >Voir Plus</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        <div
          class="carousel-control-prev"
          data-bs-target="#header-carousel"
          data-bs-slide="prev"
        >
          {#
          <span
            class="carousel-control-prev-icon precedent"
            aria-hidden="true"
          ></span>
          #}
          <span
            class="carousel-control-prev-icon precedent"
            aria-hidden="true"
          ></span>
          <span class="precedent"></span>
        </div>
        <div
          class="carousel-control-next"
          data-bs-target="#header-carousel"
          data-bs-slide="next"
        >
          {#
          <span
            class="carousel-control-prev-icon precedent"
            aria-hidden="true"
          ></span>
          #}
          <span
            class="carousel-control-next-icon suivant"
            aria-hidden="true"
          ></span>
          <span class="suivant"></span>
        </div>
      </div>
    </div>

    <!-- End Main Banner Area -->

    <!-- Start Top Products Area -->

    <section class="services-area pt-100 pb-100">
      <div class="container">
        <div class="section-title">
          <h2>Nos Categories</h2>
          <p></p>
        </div>

        <div class="row">
          {% for categorie in categories %}
          <div class="col-lg-3 col-md-6">
            <div class="single-services-box">
              <div class="icon">
                <i class="flaticon-apple"></i>
              </div>
              <h3>{{ categorie.titre }}</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod tempor incididunt.
              </p>
              <a
                href="{{ path('app_prod_by_cate', { id: categorie.id }) }}"
                class="read-btn"
                >Voir Les produits +</a
              >
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      {# ---------------------------------------------------------- End Top
      Products Area -
      ------------------------------------------------------------------------------------------#}

      <!-- Start Detox Water Area -->
      {#
      <section class="detox-water-area ptb-100">
        <div class="container">
          <div class="section-title">
            <h2>Produits Le plus Achété Du Mois</h2>
            <p></p>
          </div>

          <div class="detox-water-image">
            <img
              src=" {{
                asset('FrontOffice/assets/img/detox-water/detox-water-main.png')
              }} "
              alt="image"
            />
          </div>
        </div>

        <div class="detox-water-shape">
          <div class="shape1">
            <img
              src=" {{
                asset('FrontOffice/assets/img/detox-water/detox-water-1.png')
              }} "
              alt="image"
            />
          </div>

          <div class="shape2">
            <img
              src=" {{
                asset('FrontOffice/assets/img/detox-water/detox-water-2.png')
              }} "
              alt="image"
            />
          </div>

          <div class="shape3">
            <img
              src=" {{
                asset('FrontOffice/assets/img/detox-water/detox-water-3.png')
              }} "
              alt="image"
            />
          </div>

          <div class="shape4">
            <img
              src=" {{
                asset('FrontOffice/assets/img/detox-water/detox-water-4.png')
              }} "
              alt="image"
            />
          </div>
        </div>
      </section>
      #}
      <!-- End Detox Water Area -->

      <!-- Start Department Area -->
      <section class="department-area pt-100 pb-70">
        <div class="container">
          <div class="section-title">
            <h2>Produits Les plus Vues Du Mois</h2>
            <p></p>
          </div>

          <div class="row">
            {% for prod in produits %}

            <div class="col-lg-3 col-md-6">
              <div class="top-products-item">
                <div class="products-image">
                  <a href="{{ path('app_shop_details', { id: prod.id }) }}"
                    ><img
                      src="{{ asset('uploads/produits/' ~ prod.imageProduit) }}"
                      style="width: 250px; height: 200px"
                  /></a>

                  <ul class="products-action">
                    <li>
                      <a
                        id="addtocart{{ prod.id }}"
                        class="addtocart"
                        data-tooltip="tooltip"
                        data-placement="top"
                        title="Add to Cart"
                      >
                        <i class="flaticon-shopping-cart"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        id="addtowish{{ prod.id }}"
                        class="addtowish"
                        data-tooltip="tooltip"
                        data-placement="top"
                        title="Add to Wishlist"
                      >
                        <i class="flaticon-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        data-tooltip="tooltip"
                        id="searchbtn{{ prod.id }}"
                        class="search"
                        data-placement="top"
                        title="Quick View"
                        data-toggle="modal"
                        data-target="#productsQuickView"
                      >
                        <i class="flaticon-search"></i>
                      </a>
                    </li>
                  </ul>

                  {% if prod.getReduction()|length != 0 %}
                  <div class="">
                    <span>
                      {% for produit_reduction in prod.getReduction() %} -{{
                        produit_reduction.getPourcentage()
                      }}
                      {% endfor %}
                    </span>
                  </div>
                  {% endif %}
                </div>

                <div class="products-content">
                  <h3>
                    <a href="shop-details.html">{{ prod.designation }}</a>
                  </h3>
                  {% if prod.getReduction()|length != 0 %}
                  <div class="price">
                    <span class="new-price"> {{ prod.nouveauPrix }}Dhs</span>
                    <span class="old-price">{{ prod.ancienPrix }}Dhs</span>
                  </div>
                  {% else %}
                  <div class="price">
                    <span class="new-price">{{ prod.ancienPrix }}Dhs</span>
                  </div>
                  {% endif %}
                  <ul class="rating">
                    <li>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bx-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Department Area -->

      <!-- Start Why Choose Area -->
      <section class="why-choose-area pt-100">
        <div class="container">
          <div class="why-choose-item">
            <div class="content">
              <span>Pourquoi Nous Choisir ?</span>
              <h3>Rétrouvez Tous Vos produits liés à l'informatique</h3>
              <p></p>
            </div>

            <div class="inner-content">
              <div class="icon">
                <i class="flaticon-leaf"></i>
              </div>
              <h4>Qualité-Quantité-Nouveautés</h4>
              <p>
                Notre Société possède plusieurs Boutiques Dans plusieurs
                Localité, Ces Boutiques Sont régulièrement Mis à jour et
                contiennent chaque Nouveautés de Produits
              </p>
            </div>

            <div class="inner-content">
              <div class="icon">
                <i class="flaticon-heart"></i>
              </div>
              <h4>Services Rapides</h4>
              <p>
                Nous prenons à coeurs toutes les commandes de nos clients et
                nous nous assurons de sa livraison
              </p>
            </div>

            <div class="inner-content">
              <div class="icon">
                <i class="flaticon-plant"></i>
              </div>
              <h4>Securité-Garantie</h4>
              <p>Des Produits de qualités et Un paiement Sécurisé</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Choose Area -->

      <!-- Start Featured Products Area -->
      <section class="featured-products-area pt-100 pb-70">
        <div class="container">
          <div class="section-title">
            <h2>Nouvelles Arrivages Dans Le Stock</h2>
            <p></p>
          </div>

          <div class="row">
            {% for newproduct in NewProducts %}

            <div class="col-lg-3 col-md-6">
              <div class="featured-products-item">
                <div class="products-image">
                  <a
                    href="{{ path('app_shop_details', { id: newproduct.id }) }}"
                  >
                    <img
                      src="{{ asset('uploads/produits/' ~ newproduct.image_produit) }}"
                      style="width: 250px; height: 200px"
                    />
                  </a>

                  <ul class="products-action">
                    <li>
                      <a
                        href="cart.html"
                        data-tooltip="tooltip"
                        data-placement="top"
                        title="Add to Cart"
                      >
                        <i class="flaticon-shopping-cart"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        data-tooltip="tooltip"
                        data-placement="top"
                        title="Add to Wishlist"
                      >
                        <i class="flaticon-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        data-tooltip="tooltip"
                        data-placement="top"
                        title="Quick View"
                        data-toggle="modal"
                        data-target="#productsQuickView"
                      >
                        <i class="flaticon-search"></i>
                      </a>
                    </li>
                  </ul>

                  <div class="new">
                    <span>New</span>
                  </div>
                </div>

                <div class="products-content">
                  <h3>
                    <a
                      href="{{
                        path('app_shop_details', { id: newproduct.id })
                      }}"
                      >{{ newproduct.designation }}</a
                    >
                  </h3>
                  <div class="price">
                    {% if newproduct.nouveau_prix %}
                    <span class="new-price"
                      >{{ newproduct.nouveau_prix }}Dhs</span
                    >
                    <span class="old-price"
                      >{{ newproduct.ancien_prix }}Dhs</span
                    >
                    {% else %} {#
                    <span class="new-price"
                      >{{ newproduct.nouveau_prix }}Dhs</span
                    >
                    #}
                    <span class="new-price"
                      >{{ newproduct.ancien_prix }}Dhs</span
                    >
                    {% endif %}
                  </div>
                  <ul class="rating">
                    <li>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bx-star"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% else %}
            <div class="">Aucun Arrivage Disponible</div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Featured Products Area -->

      <!-- Start Testimonial Area -->
      <section class="testimonial-area ptb-100">
        <div class="container">
          <div class="section-title">
            <h2>Les Avis De La Clientielle</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua quis
              ipsum suspendisse
            </p>
          </div>

          <div class="testimonial-slider owl-carousel owl-theme">
            {% for review in reviews %}

            <div class="testimonial-item">
              <div class="info">
                <img
                  src=" {{
                    asset('FrontOffice/assets/img/client/client-3.jpg')
                  }} "
                  alt="image"
                />
                <h3>{{ review.pseudo }}</h3>
                <span>{{ review.titre }}</span>
              </div>
              <p>
                {{ review.content }}
              </p>

              <div class="icon">
                <i class="flaticon-right-quotes-symbol"></i>
              </div>
            </div>
          </div>
          {% else %}
          <div>Aucun FeadBack</div>
          {% endfor %} {% if app.user %}
          <a
            class="btn btn-warning"
            style="position: absolute; bottom: 10px; right: 45%"
            href="{{ path('app_client_feedback') }}"
            >Donnez Votre Avis</a
          >
          {% endif %}
        </div>
      </section>
      <!-- End Testimonial Area -->

      <!-- Start Best Sellers Products Area -->
      <section class="top-products-area pt-100 pb-100">
        <div class="container">
          <div class="section-title">
            <h2>Produits Les Plus Achétés</h2>
            <p>Voir Les Produits Les plus Achétés par Nos clients</p>
          </div>

          <div class="top-products-slider owl-carousel owl-theme">
            {% for bestSeller in bestSellers %}
            <div class="top-products-item">
              <div class="products-image">
                <a href="{{ path('app_shop_details', { id: bestSeller.id }) }}">
                  <img
                    src="{{ asset('uploads/produits/' ~ bestSeller.image_produit) }}"
                    style="width: 250px; height: 200px"
                  />
                </a>
                <ul class="products-action">
                  <li>
                    <a
                      href="cart.html"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Ajouter au Panier"
                    >
                      <i class="flaticon-shopping-cart"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Ajouter comme Favoris"
                    >
                      <i class="flaticon-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Quick View"
                      data-toggle="modal"
                      data-target="#productsQuickView"
                    >
                      <i class="flaticon-search"></i>
                    </a>
                  </li>
                </ul>

                <div class="sale">
                  <span>Sale</span>
                </div>
              </div>

              <div class="products-content">
                <h3>
                  <a
                    href="{{ path('app_shop_details', { id: bestSeller.id }) }}"
                    >{{ bestSeller.designation }}</a
                  >
                </h3>
                <div class="price">
                  {% if bestSeller.nouveau_prix %}
                  <span class="new-price"
                    >{{ bestSeller.nouveau_prix }}Dhs</span
                  >
                  <span class="old-price">{{ bestSeller.ancien_prix }}Dhs</span>
                  {% else %} {#
                  <span class="new-price"
                    >{{ newproduct.nouveau_prix }}Dhs</span
                  >
                  #}
                  <span class="new-price">{{ bestSeller.ancien_prix }}Dhs</span>
                  {% endif %}
                </div>
                <ul class="rating">
                  <li>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </li>
                </ul>
              </div>
            </div>
            {% else %}
            <div>Aucun Best Sellers Dans le site</div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Best Sellers Products Area -->

      <!-- Start Overview Area -->
      {% if reductions %}
      <section class="overview-area ptb-100">
        <div class="testimonial-slider owl-carousel owl-theme">
          {% for reduction in reductions %}
          <div class="container testimonial-item1">
            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-6">
                <div class="overview-content">
                  <h3>
                    {{ reduction.pourcentage }} Jusqu A le
                    {{ reduction.datefin|date('Y-m-d \\HH:i:s') }}
                  </h3>
                  <p>
                    {{ reduction.designation }}
                  </p>

                  <div class="overview-btn">
                    <a
                      href="{{
                        path('app_discover_product', { id: reduction.id })
                      }}"
                      class="default-btn"
                      >Discover Products
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-sm-6">
                <div class="overview-video">
                  <a
                    href="https://www.youtube.com/watch?v=Jh5oX0VRnzk"
                    class="video-btn popup-youtube"
                  >
                    <i
                      style="
                        font-size: 35px;
                        position: absolute;
                        top: 30%;
                        left: 10%;
                      "
                      >-{{ reduction.pourcentage }}</i
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      {% endif %}
      <!-- End Overview Area -->

      <!-- Start Most Viewed Products Area -->
      <section class="featured-products-area bg-fafafa pt-100 pb-100">
        <div class="container">
          <div class="section-title">
            <h2>Most Viewed Products This Month</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua quis
              ipsum suspendisse
            </p>
          </div>

          <div class="featured-products-slider owl-carousel owl-theme">
            {# {% for item in items %}{% endfor %} #}
            <div class="featured-products-item">
              <div class="products-image">
                <a href="shop-details.html"
                  ><img
                    src=" {{
                      asset(
                        'FrontOffice/assets/img/featured-products/featured-products-8.jpg'
                      )
                    }} "
                    alt="image"
                /></a>

                <ul class="products-action">
                  <li>
                    <a
                      href="cart.html"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Add to Cart"
                    >
                      <i class="flaticon-shopping-cart"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Add to Wishlist"
                    >
                      <i class="flaticon-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Quick View"
                      data-toggle="modal"
                      data-target="#productsQuickView"
                    >
                      <i class="flaticon-search"></i>
                    </a>
                  </li>
                </ul>

                <div class="new">
                  <span>New</span>
                </div>
              </div>

              <div class="products-content">
                <h3>
                  <a href="shop-details.html">Mint</a>
                </h3>
                <div class="price">
                  <span class="new-price">$49.00</span>
                  <span class="old-price">$133.00</span>
                </div>
                <ul class="rating">
                  <li>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Most Viewed Products Area -->

      <!-- Start Blog Area -->
      {#
      <section class="blog-area pt-100 pb-70">
        <div class="container">
          <div class="section-title">
            <h2>Latest Blog</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua quis
              ipsum suspendisse
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-blog-item">
                <div class="image">
                  <a href="blog-details.html"
                    ><img
                      src=" {{
                        asset('FrontOffice/assets/img/blog/blog-1.jpg')
                      }} "
                      alt="image"
                  /></a>

                  <div class="date">
                    <span>20 December 2020</span>
                  </div>
                </div>
                <div class="content">
                  <h3>
                    <a href="blog-details.html"
                      >What You Should Know About Detox Water</a
                    >
                  </h3>
                  <a href="blog-details.html" class="blog-btn">Read More +</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="single-blog-item">
                <div class="image">
                  <a href="blog-details.html"
                    ><img
                      src=" {{
                        asset('FrontOffice/assets/img/blog/blog-2.jpg')
                      }} "
                      alt="image"
                  /></a>

                  <div class="date">
                    <span>24 December 2020</span>
                  </div>
                </div>
                <div class="content">
                  <h3>
                    <a href="blog-details.html"
                      >Better Hot Drink Elegant You Can Order By Online</a
                    >
                  </h3>
                  <a href="blog-details.html" class="blog-btn">Read More +</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
              <div class="single-blog-item">
                <div class="image">
                  <a href="blog-details.html"
                    ><img
                      src=" {{
                        asset('FrontOffice/assets/img/blog/blog-3.jpg')
                      }} "
                      alt="image"
                  /></a>

                  <div class="date">
                    <span>29 December 2020</span>
                  </div>
                </div>
                <div class="content">
                  <h3>
                    <a href="blog-details.html"
                      >Role of Genetics in Treating Low-grade Glioma</a
                    >
                  </h3>
                  <a href="blog-details.html" class="blog-btn">Read More +</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Blog Area -->
      #}

      <!-- Start Newsletter Area -->
      {#
      <div class="newsletter-area ptb-100">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="newsletter-content">
                <h2>Abonnez-Vous à Notre Newsletter</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                  quis ipsum suspendisse
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <form class="newsletter-form">
                <input
                  type="email"
                  class="input-newsletter"
                  placeholder="Enter Email Address"
                  name="EMAIL"
                  required
                  autocomplete="off"
                />

                <button type="submit">Subscribe Now</button>

                <div id="validator-newsletter" class="form-result"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      #}
      <!-- End Newsletter Area -->

      <!-- Start Partner Area -->
      <div class="partner-area ptb-100">
        <div class="container">
          <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
              <img
                src=" {{
                  asset('FrontOffice/assets/img/partner/partner-1.png')
                }} "
                alt="image"
              />
            </div>

            <div class="partner-item">
              <img
                src=" {{
                  asset('FrontOffice/assets/img/partner/partner-2.png')
                }} "
                alt="image"
              />
            </div>

            <div class="partner-item">
              <img
                src=" {{
                  asset('FrontOffice/assets/img/partner/partner-3.png')
                }} "
                alt="image"
              />
            </div>

            <div class="partner-item">
              <img
                src=" {{
                  asset('FrontOffice/assets/img/partner/partner-4.png')
                }} "
                alt="image"
              />
            </div>

            <div class="partner-item">
              <img
                src=" {{
                  asset('FrontOffice/assets/img/partner/partner-5.png')
                }} "
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End Partner Area -->
      {% endblock %} {% block javascripts %}
      <script src="{{ asset('js/panier3.js') }}"></script>
      <script src="{{ asset('FrontOffice/other/slide.js') }}"></script>
      {% endblock %}
    </section>
  </div>
</div>
