{% extends 'admin.html.twig' %}
{# {% block title %}Ajouter Produit{% endblock
%} #}
{% block content %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div
			class="container-full">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="page-title">Ajouter Une Categorie</h3>
						<div class="d-inline-block align-items-center">
							<nav>
								<ol class="breadcrumb">
									{#
																		                <li class="breadcrumb-item">
																		                  <a href="#"><i class="mdi mdi-home-outline"></i></a>
																		                </li>
																		                #}
									{#
																		                <li class="breadcrumb-item" aria-current="page">Forms</li>
																		                #}
										<li>
											<a href="{{ path('app_categorie_index_aside') }}" class="btn btn-primary btn-md"> Tous Les Categories</a>
									</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-12">
						<div
							class="box">
							{#
														            <div class="box-header">
														              <h4 class="box-title">Type options</h4>
														            </div>
														            #}
							<div class="box-body">
								<div class="form-group row">
									<label class="col-form-label col-md-2">Titre Categorie</label>
									<div
										class="mb-3 col-md-10">
										{#
																				                  <input class="form-control" type="datetime" name="datetime" />
																				                  #}

										{{ form_row(form.titre) }}

										<span class="form-text text-muted">{{
                    form_errors(form.titre)
                  }}</span>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-form-label col-md-2">Titre Categorie</label>
									<div
										class="mb-3 col-md-10">
										{#
																				                  <input class="form-control" type="datetime" name="datetime" />
																				                  #}

										{{ form_row(form.description) }}

										<span class="form-text text-muted">{{
                    form_errors(form.description)
                  }}</span>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-form-label col-md-2">Icone de la Categorie</label>
									<div
										class="mb-3 col-md-10">
										{#
																																																												                  <input class="form-control" type="datetime" name="datetime" />
																																																												                  #}

										{{ form_row(form.photo) }}

										<span class="form-text text-muted">{{
                    form_errors(form.photo)
                  }}</span>
									</div>
								</div>

								<div class="mb-3 col-12">
									<button class="btn btn-info btn-rounded margin-top-10">
										{{ button_label|default('Ajouter') }}
									</button>
								</div>
							</div>

							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- ./col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- /.content-wrapper -->
{% endblock %}
