{% extends 'admin1.html.twig' %} {# {% block title %}Ajouter Produit{% endblock
%} #} {% block content %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left: 0px; padding-top: 0px">
  <div class="container-full">
    <div id="message">
      {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %} {% for message in app.flashes('suppression') %}
      <div class="alert btn-danger">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="page-title">Ajouter Un Lien</h3>
          <div class="d-inline-block align-items-center"></div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="box">
            {#
            <div class="box-header">
              <h4 class="box-title">Type options</h4>
            </div>
            #}
            <div class="box-body">
              <div class="form-group row">
                <label class="col-form-label col-md-2">Image</label>
                <div class="mb-3 col-md-10">
                  {#
                  <input class="form-control" type="datetime" name="datetime" />
                  #}
                  {{ form_row(form.image) }}
                  <span class="form-text text-muted">{{
                    form_errors(form.image)
                  }}</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-md-2">URL</label>
                <div class="mb-3 col-md-10">
                  {#
                  <input class="form-control" type="datetime" name="datetime" />
                  #}
                  {{ form_row(form.url) }}
                  <span class="form-text text-muted">{{
                    form_errors(form.url)
                  }}</span>
                </div>
              </div>

              <div class="mb-3 col-12">
                <button class="btn btn-info btn-rounded margin-top-10">
                  {{ button_label|default('Ajouter') }}
                </button>
              </div>
            </div>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- /.content-wrapper -->
{% endblock %}
