{% extends 'admin.html.twig' %} {% block title %}Adding User{% endblock %} {%
block content %}  {{ form_start(form) }} 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="page-title">Form Wizard</h3>
          <div class="d-inline-block align-items-center">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#"><i class="mdi mdi-home-outline"></i></a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Ajout d'un User</li>
                <li class="breadcrumb-item active" aria-current="page">
                  Admin Ou Super_Admin Ou Comptable
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <!-- Step wizard -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h4 class="box-title">Client Registration</h4>
          <h6 class="box-subtitle">
            You can find the
            <a href="http://www.jquery-steps.com" target="_blank"
              >offical website
            </a>
          </h6>
        </div>
        <!-- /.box-header -->
        <div class="box-body wizard-content">
          <form
            action="{{ path('app_user_new') }}"
            class="tab-wizard wizard-circle"
          >
            <!-- Step 1 -->
            <a href="{{path('app_user_index')}}" class="btn btn-primary">Liste Users</a>
            
            <section>
              <br>
              <div class="row">
                <div class="col-md-6">
                  {# {{form_errors(form.email)}} #}
                  <div class="form-group">
                    <label for="firstName5">Email :</label>
                    {{ form_row(form.email) }}
           <span class="form-text text-muted">{{ form_errors(form.email) }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName1">Nom :</label>
                    {{ form_row(form.nom) }}
                        <span class="form-text text-muted">{{ form_errors(form.nom) }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="emailAddress1">Prenom :</label>
                    {{ form_row(form.prenom) }}
                        <span class="form-text text-muted">{{ form_errors(form.prenom) }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  {# {{form_errors(form.telephone)}} #}
                  <div class="form-group">
                    <label for="phoneNumber1">Telephone :</label>
                    {{ form_row(form.telephone) }}
                        <span class="form-text text-muted">{{ form_errors(form.telephone) }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
               
                <div class="col-md-6">
                  {# {{ form_errors(form.adresse) }} #}
                  <div class="form-group">
                    <label for="addressline1">Address :</label>
                    {{ form_row(form.adresse) }}
                        <span class="form-text text-muted">{{ form_errors(form.adresse) }}</span>
                  </div>
                </div>
                {#  Input des profiles ajouter icic #}
                <div class="col-md-6">
                  {# {{ form_errors(form.profile) }} #}
                  <div class="form-group">
                    <label for="addressline1">Photo profile :</label>
                    {{ form_row(form.profile) }}
                        <span class="form-text text-muted">{{ form_errors(form.profile) }}</span>
                  </div>
                </div>
                {#  end Input des profiles ajouter icic #}
           
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="addressline2">Password :</label>
                    {{ form_row(form.password.first) }}
                        <span class="form-text text-muted">{{ form_errors(form.password.first) }}</span>
                  </div>
                  <div class="form-group">
                    <label for="addressline2">confirmation :</label>
                    {{ form_row(form.password.second) }}
                        {# <span class="form-text text-muted">{{ form_errors(form.password.second) }}</span> #}
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="location3">Select roles :</label>
                    {{ form_row(form.roles) }}
                        <span class="form-text text-muted">{{ form_errors(form.roles) }}</span>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <br><br>
                    {# <label for="date1">Date of Birth :</label>
                    <input type="date" class="form-control" id="date1" /> #}
                    <button class="btn btn-primary btn-rounded margin-top-10">
                      {{ button_label|default('Save') }}
                  </div>
                </div>
                
              </div>
            </section>
            </section>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
</div>

 {{ form_end(form) }} {% endblock %}
