<section>
    {{form_start(form2)}}
    {% if not form2.vars.valid %} 
    <script>
    document.getElementById("activity").classList.remove("active"); 
    document.getElementById("modify_password").classList.add("active");
    document.getElementById("settings").classList.remove("active");
     
    </script>
    {% endif %}
                  <br>

                  {# <form method="POST" action="{{path('app_user_edit',{ id: user.id })}}"> #}
                  <div class="row">
                    <div class="col-md-6">
                      {# {{form_errors(form2.password.first)}} #}
                      <div class="form-group">
                        <label for="firstName5">Mot de Passe :</label>
                        {{ form_row(form2.password.first) }}
                        <span class="form-text text-muted">{{ form_errors(form2.password.first) }}</span>
                      </div>
                    </div>
                 
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      {# {{form_errors(form2.password.second)}} #}
                      <div class="form-group">
                        <label for="firstName5">Confirmation de Mot de Passe :</label>
                        {{ form_row(form2.password.second) }}
                        <span class="form-text text-muted">{{ form_errors(form2.password.second) }}</span>

                      </div>
                    </div>
                 
                  </div>
        
                  <div class="row">
               
                  
                    <div class="col-md-6">
                      <div class="form-group">
                        <br><br>
                        {# <label for="date1">Date of Birth :</label>
                        <input type="date" class="form-control" id="date1" /> #}
                        <button class="btn btn-primary btn-rounded margin-top-10">
                          {{ button_label|default('Save Modification') }}
                      </div>
                    </div>
                    </div>
                  {# </form> #}
                    {{ form_end(form2) }}
               
                 
                </section>