<section>
    {{form_start(form)}}
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                   
                      <div class="form-group">
                        <label for="firstName5">Email :</label>
                        {{ form_row(form.email) }}
                        <span class="form-text text-muted">{{ form_errors(form.email) }}</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      {{form_errors(form.nom)}}
                      <div class="form-group">
                        <label for="lastName1">Nom :</label>
                        
                        {{ form_row(form.nom) }}
                      <span class="form-text text-muted">{{ form_errors(form.nom) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="emailAddress1">Prenom :</label>
                        {{ form_row(form.prenom) }}
                      <span class="form-text text-muted">{{ form_errors(form.prenom) }}</span>              
                      </div>
                    </div>
                    <div class="col-md-6">
                      {# {{form_errors(form.telephone)}} #}
                      <div class="form-group">
                        <label for="phoneNumber1">Telephone :</label>
                        {{ form_row(form.telephone) }}
                              <span class="form-text text-muted">{{ form_errors(form.telephone) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   
                    <div class="col-md-6">
                      {# {{ form_errors(form.adresse) }} #}
                      <div class="form-group">
                        <label for="addressline1">Address :</label>
                        {{ form_row(form.adresse) }}
                            <span class="form-text text-muted">{{ form_errors(form.adresse) }}</span>
                      </div>
                    </div>
                    {#  Input des profiles ajouter icic #}
                    <div class="col-md-6">
                      {# {{ form_errors(form.profile) }} #}
                      <div class="form-group">
                        <label for="addressline1">Modifier la photo</label>
                        {{ form_row(form.profile) }}
                        <span class="form-text text-muted">{{ form_errors(form.profile) }}</span>
                      </div>
                    </div>
                 </div>
                  <div class="row">
                     <div class="col-md-6">
                        {# {{ form_errors(form.roles) }} #}
                      <div class="form-group">
                        <label for="location3">Roles :</label>
           
                        {{ form_row(form.roles) }}
                      </div>
                    </div> 
                    <div class="col-md-6">
                    <div class="form-group">
                      <div >
                        {{ form_errors(form.ville) }}
                        <div class="form-group">
                          <label >Ville :</label>
                          {{ form_row(form.ville) }}
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  

                  </div>
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <br><br>
                        {# <label for="date1">Date of Birth :</label>
                        <input type="date" class="form-control" id="date1" /> #}
                        <button class="btn btn-primary btn-rounded margin-top-10">
                          {{ button_label|default('Save') }}
                      </div>
                    </div>
                  </div>
                    
                    {{ form_end(form) }}
               
                 
                </section>