{% extends 'admin1.html.twig' %} {#
{{
  include(
    "user/_form.html.twig",
    { button_label: "Update" },
    { action: path("app_user_edit", { id: user.id }) }
  )
}}
#} {% block content %}

<div class="content-wrapper" style="margin-left: 0px; padding-top: 0px">
  <div class="container-full">
    <div id="message">
      {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %} {% for message in app.flashes('suppression') %}
      <div class="alert btn-danger">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="page-title">Edit User</h3>
          <div class="d-inline-block align-items-center"></div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <!-- Step wizard -->
      <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body wizard-content">
          {{
            include(
              "user/_form_edit_user.html.twig",
              { button_label: "Modifier" },
              { action: path("app_user_edit", { id: user.id }) }
            )
          }}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
</div>

<!-- /.content-wrapper -->

{# <a href="{{ path('app_user_index') }}">back to list</a> #} {#
{{ include("user/_delete_form.html.twig") }} #} {% endblock %}
